@mixin bp($point) {
  $xs-max: 480px;
  $sm-max: 640px;
  $md-max: 768px;
  $lg-max: 1024px;
  $xl-max: 1280px;
  $xxl-max: 1536px;

  @if $point==xs-max {
    @media (max-width: $xs-max) {
      @content;
    }
  } @else if $point==sm-max {
    @media (max-width: $sm-max) {
      @content;
    }
  } @else if $point==md-max {
    @media (max-width: $md-max) {
      @content;
    }
  } @else if $point==lg-max {
    @media (max-width: $lg-max) {
      @content;
    }
  } @else if $point==xl-max {
    @media (max-width: $xl-max) {
      @content;
    }
  } @else if $point==xxl-max {
    @media (max-width: $xxl-max) {
      @content;
    }
  }
}
