@use "../../styles/break-points.scss" as *;

.footer {
  background: var(--cosmos);
  color: white;
  margin-top: auto;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  @include bp(md-max) {
    padding: 40px 16px 20px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #94a3b8;

  @include bp(md-max) {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
}
